@page
@model ConfirmSentModel
@{
    ViewData["Title"] = "Email send";
}

<p>Confirmation email has been send to your eamil address.</p>
<p>Note: Once you receive the email in your inbox, click on the link to activate and login</p> 