@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed";
}
<div>
    <p>
        Thank you for confirming your email with RecruitPNG. <a href="/Identity/Account/Manage">
            Click here to login.
        </a>
    </p>
</div>
