@model RecruitPNG.Models.Job

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" onsubmit="formSubmit()">
            @if (ViewBag.Saved == true)
            {
                <div class="alert alert-success">
                    Job successfully updayed. <a asp-action="MyJobs" asp-controller="Jobs" asp-area="">Click to view updated job</a>
                </div>

            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId">
                    <option value="">Select company</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId">
                    <option value="">Select country..</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId">
                    <option value="">Select city..</option>
                </select>

                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label asp-for="CountyId" class="control-label"></label>
                <select asp-for="CountyId" class="form-control" asp-items="ViewBag.CountyId">
                    <option value="">Select job location..</option>
                </select>
                <span asp-validation-for="CountyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="IsApproved" class="control-label"></label>
                    @(Model.IsApproved ? "Evet" : "Hayır")
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="CreateDate" type="hidden" />
            <input asp-for="CreatedBy" type="hidden" />
            <input asp-for="UpdateDate" type="hidden" />
            <input asp-for="UpdatedBy" type="hidden" />
            <input asp-for="IPAddress" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success btn-sm" />
                <a asp-action="MyJobs" asp-controller="Jobs" class="btn btn-sm btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/ckeditor5/ckeditor.js"></script>
    <script>
        var editor;
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(newEditor => {
                editor = newEditor;
                editor.setData($("#Description").val());
            })
            .catch(error => {
                console.error(error);
            });
        function formSubmit() {
            $("#Description").val(editor.getData());
        }
    </script>
}
